
#h1{ text-align: center;}

#first-line{ background-color: #2A84C5; color: #000000; margin-top: 0%; margin-bottom: 0%; padding: 5px;}
#second-line{ background-color: #1B9DD8; color: #000000;  margin-top: 0%; margin-bottom: 0%; padding: 5px;}
#third-line{ background-color: #36A9DF; color: #000000; margin-top: 0%; margin-bottom: 0%; padding: 5px;}
#fourth-line{ background-color: #2A92D0; color: #000000;margin-top: 0%; margin-bottom: 0%; padding: 5px;}
#fifth-line{ background-color: #55B6E6; color: #000000;margin-top: 0%; margin-bottom: 0%;padding: 5px; }
#sixth-line{ background-color: #6FC1EB; color: #000000; margin-top: 0%; margin-bottom: 0%;padding: 5px;}
#seventh-line{ background-color: #8ECAEE; color: #000000;margin-top: 0%; margin-bottom: 0%;padding: 5px; }
#eighth-line{ background-color: #1AB585; color: #000000; margin-top: 0%; margin-bottom: 0%;padding: 5px;}
#ninth-line{ background-color: #F5B1CF; color: #000000; margin-top: 0%; margin-bottom: 0%;padding: 5px;}
#tenth-line{ background-color: #F49EC2; color: #000000; margin-top: 0%; margin-bottom: 0%;padding: 5px;} 
#eleventh-line{ background-color: #F28CB4; color: #000000;margin-top: 0%; margin-bottom: 0%; padding: 5px;}
#twelveth-line{ background-color: #F179A6; color: #000000; margin-top: 0%; margin-bottom: 0%;padding: 5px;}
#thirteenth-line{ background-color: #F16A97; color: #000000; margin-top: 0%; margin-bottom: 0%;padding: 5px;}
#fourteenth-line{ background-color: #F0588B; color: #000000; margin-top: 0%; margin-bottom: 0%;padding: 5px;}
#fifteenth-line{ background-color: #EE337F; color: #000000; margin-top: 0%; margin-bottom: 0%;padding: 5px;}

